INFOS DO ARROZ

<link rel="arroz.component.css" type="text">

<div class="col-md-4"> 
    <img class="" src="assets/tio_joao.jpg" width="100%" height="50%" >
</div>

<div class="container">
    <div class="row">
        <div  class="col-md-6"><br>
        <div><h2> Arroz Tio joao 5 kg</h2></div><br>
            <button type="button" class="btn btn-outline-secondary">-</button>
            <span class="text">1</span>
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="lj btn-primary btn-sm">Adiconar no Carrinho</button>
        </div>
    </div>
</div>
<!--<div class="col-12-col-md.px-1">
    <div id="lj">
       
    </div>
</div>-->