Info da carne

<div class="col-md-4"> 
    <img class="" src="assets/carne bovina.jpg" width="100%" height="50%" >
</div>

<div class="container">
    <div class="row">
        <div class="col-6"><br>
            <div id="cl"><h2>Carne Bovina</h2></div><br>
            <button type="button" class="btn btn-outline-secondary">-</button>
            <span class="text">1</span>
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="lj btn-primary btn-sm">Adiconar no Carrinho</button>
        </div>
    </div>
</div>
